[Unit]
Description=Hedron's distributed currency daemon
After=network.target

[Service]
User=hedron
Group=hedron

Type=forking
PIDFile=/var/lib/hedrond/hedrond.pid

ExecStart=/usr/bin/hedrond -daemon -pid=/var/lib/hedrond/hedrond.pid \
          -conf=/etc/hedron/hedron.conf -datadir=/var/lib/hedrond

ExecStop=-/usr/bin/hedron-cli -conf=/etc/hedron/hedron.conf \
         -datadir=/var/lib/hedrond stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
